* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

html {
	visibility: hidden;
}





body {
	font-family: Impact, Verdana, sans-serif;
	text-align: center;
	color: white;
	background-color: black;
  	background-size: cover;
}

#loadVideo {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

header {
	padding-top: 50%;

}

.title {
	position: absolute;
	text-align: left;
	color: red;
	top: 30%;
	left: 1em;
}

h1 {
	font-size: 8em;
	margin-bottom: 0;

}

h2 {
	margin-top: -10px;
	font-size: 1.5em;
	padding-left: 3em;
}


.fadein {
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
}

.fadein2 {
    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}


#video {
    position: relative;
    padding: 25px;
    min-width: 100%;
}
/*
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  height: 0;
}
*/
/*.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  height: 100%;
}
*/

.video-itself {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
	max-width: 100%;
	min-width: 100%;
}

#trailer {
	padding-top: 200px;
	padding-bottom: 200px;
}


/*
iframe {
	//overflow: hidden;
	min-width: 600px;
}
*/

.credits {
	position: relative;
	font-size: 20px;
	font-weight: 100;
	padding-top: 55%;
 /*
  right: 0;
  top: 50%;
  transform: translateY(-50%)
  */
}


.img {
	position: relative;
  	height: 1000px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: cover;
}

.sitting {
	background-image: url(img/sitting.jpg);
}

.back {
	background-image: url(img/back.jpg);
}

.green {
	background-image: url(img/green.jpg);
}

.wall {
	background-image: url(img/wall.jpg);
}

.nokiss {
	background-image: url(img/nokiss.jpg);
}

.postelja {
	background-image: url(img/postelja.png);
}


.content,
.reviews,
#projekcije {
	display: flex;
	justify-content: space-around;
}
/*
nav {
	position: fixed;
	min-width: 100%;
	padding: 0.8em 0;
	z-index: 100;
}
*/
/*
#top,
#o-filmu,
#mediji, */
#projekcije
 {
    padding-top: 400px;
    margin-top: -400px;
}

.link {
	display: flex;
	justify-content: space-between;
	width: 45%;
}

a,
.name {
	text-decoration: none;
	color: rgb(219, 68, 55)
}
/*
a:hover {
	color: rgb(57, 97, 211);
}
*/
.reviews,
#projekcije {
	flex-wrap: wrap;
}

.month {
	padding: 10px;
}

.text {
	padding: 1em;
	font-family: Verdana, sans-serif;
	width: 300px;
	color: black;
}

.text:hover {
	color: red;
}

.permhover {
	color: blue;
}
/*
#o-filmu {
	max-width: 50%;
	margin: 1em auto;
}
*/
/*https://jsfiddle.net/fbysq8k1/1/*/
/*
.video-container video,
.videoWrapper iframe {
    top: 100%;
    left: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: 800px;
    z-index: -100;
   // transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.video-container {
    height: 800px;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}
*/
/*
table {
	margin: 1em auto;
}

.projekcije-table td {
	padding: 0 2em;
}

.projekcije-table th {
	padding: 1em 0;
}
*/

.logo {
	z-index: 1;
	width: 30px;
	border-radius: 60px;
	position: fixed;
	right: 1.4em;
	bottom: 1em;

}

.media {
	z-index: 1;
	position: fixed;
	right: 1.4em;
	bottom: 3.2em;
}

.loader {
	visibility: visible;
	z-index: -20;
	margin-top: 40px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
