* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

@font-face {
  font-family: 'SharpGroteskLight';
  font-style: normal;
  font-weight: normal;
  src: local('SharpGroteskLight'), url('sharpgrotesk/SharpGroteskLight11.otf') format('truetype');
}

@font-face {
  font-family: 'SharpGroteskBlack';
  font-style: normal;
  font-weight: normal;
  src: local('SharpGroteskBlack'), url('sharpgrotesk/SharpGroteskBold08.otf') format('truetype');
}

@font-face {
  font-family: 'SharpGroteskMedium';
  font-style: normal;
  font-weight: normal;
  src: local('SharpGroteskMedium'), url('sharpgrotesk/SharpGroteskMedium18.otf') format('truetype');
}


html {
	visibility: hidden;
}

body {
	font-family: 'SharpGroteskLight', serif;
	text-align: center;
	color: white;
	background-color: black;
  	background-size: cover;
}

#loadVideo {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



.title {
	text-align: left;
	color: #E20D13;
}


.laurels {
	max-width: 570px;
	padding-bottom: 0;
	margin-bottom: -140px;
	padding-left: 1em;
}



.naslov {
	width: 50%;
}


.podnaslov {
	margin-top: 4px;
	font-size: 3.9em;
	padding-left: 1.72em;
	font-family: 'SharpGroteskBlack', serif;

}



.fadein {
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
}

.fadein2 {
    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}



header {
	padding-bottom: 200px;

}

#video {
    padding: 25px;
    min-width: 100%;
}

video {
	max-width: 100%;
	min-width: 100%;
}


.videoWrapper {
  position: relative;
  margin-top: -800px;
  padding-bottom: 56.25%; /* 16:9*/
  padding-top: 200px;
  height: 0;
}

/*.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  height: 100%;
}
*/

/*
iframe {
	//overflow: hidden;
	min-width: 600px;
}
*/

a {
	text-decoration: none;
	color: #E20D13;
}

.credits {
	position: relative;
	font-size: 35px;
	font-weight: 100;
	padding-top: 40%;
}

.credits img {
	padding-top: 15px;
	max-width: 700px;
}

.small {
	font-size: 25px;
}


.img {
  min-height: 1200px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: cover;
}


.sitting {
	background-image: url(img/sitting.jpg);

}

.back {
	background-image: url(img/back.jpg);
  min-height: 1300px;
}

.green {
	background-image: url(img/green.jpg);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  min-height: 800px;

}

.wall {
	background-image: url(img/wall.jpg);
}

.nokiss {
	background-image: url(img/nokiss.jpg);
}

.postelja {
	background-image: url(img/postelja.png);
  min-height: 1000px;
}

.against-wall {
	background-image: url(img/against-wall.jpg);
  min-height: 2000px;
}

.watching {
  background-image: url(img/watching.jpg);
}



.reviews {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.reviews {
	font-size: 28px;
	font-weight: 600;
	text-shadow: 0.5px 0.5px white;
}

.screening {
  padding-top: 35px;
  margin-bottom: 25px;
  font-size: 75px;
 	font-weight: 600;

}

.projekcije,
.sinopsis {
 	font-family: 'SharpGroteskMedium', serif;
 	text-shadow: 2px 2px black;

}

.sinopsis {
  width: 750px;
  font-size: 2em;
  padding: 3em;
  padding-top: 9em;
  color: white;
}

.projekcije {
    font-weight: 800;
}

.projekcije {
  font-size: 0.75em;
}

.projekcije a {
	color: white;
	font-size: 1.7em;
}

.projekcije a:hover {
	text-decoration: none;
	color: #E20D13;
}

.projekcije .small {
	font-weight: 100;
	/*font-family: 'SharpGroteskLight', serif;*/
}


.link {
	display: flex;
	justify-content: space-between;
	width: 45%;
}

.month {
	padding: 10px;
}

.text {
	padding: 1em;
	width: 300px;
	color: black;
}

.text:hover {
	color: #E20D13;
}

.permhover {
	color: blue;
}

/*https://jsfiddle.net/fbysq8k1/1/*/
/*
.video-container video,
.videoWrapper iframe {
    top: 100%;
    left: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: 800px;
    z-index: -100;
   // transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.video-container {
    height: 800px;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}
*/

.date {
  padding-bottom: 20px;
}

.logo {
	width: 20.5px;
	margin-bottom: -4px;
	margin-left: 3px;
}

.media {
	z-index: 1;
	position: fixed;
	bottom: 1em;
	right: 1.4em;
}

.loader {
	visibility: visible;
	z-index: -20;
	margin-top: 40px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
